
/*for login.html and about.html*/

body	{
	/*background: linear-gradient(black, white);*/
	/*background-image: url(backimage.jpg);*/
	/*margin-left: 0px;*/
	/*background-size: cover;*/
}

.test{

		display: flex;
  	height: 50px;
  	align-items: center;
  	background-color: rgba(0, 0, 0,0.8);
}

.test > div {
  
  width: 50px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
}

/*for login.html and about.html*/
/*.test	{
	
	background-color:rgba(0, 0, 0,0.8);

}*/
/*for login.html and about.html*/

/*li	{
	
	list-style: none;
	display: inline-block;
	padding: 14px 14px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;

	 
}*/
/*for login.html and about.html*/
/*0,0,1,1*/
a {
    
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
/*for about.html*/
.boxmodel{
	text-align: right;
	border: 5px solid red;
	display: inline-block;
	padding: 40px 80px 40px 40px;
	margin: 50px 50px;
}

/*for about.html*/
.boxmodel1{
	text-align: left;
	line-height: 20px;
	border: 5px dashed blue;
	display: block;
	margin: 40px 40px 40px 40px;
	padding: 40px 10px 40px 10px;
	background-color: rgba(0, 0, 255, 0.5);
}
/*for about.html*/
.B1{
background-color: rgba(255, 0, 0, 0.5);
}
/*for about.html*/
.B2{
background-color: rgba(0, 255, 0, 0.5);
}

/*for login.html and about.html*/
h2	{
	color: red;
	text-align: center;
	border: 5px solid #232965;
}

/*for login.html*/
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
/*for login.html*/
#id1{
	border-bottom: 2px solid blue;
	border-right: 2px solid blue;
	text-align: center;
	width: 400px;
}
/*for login.html*/
.flexbox1{
	width: 500px;
	height: 400px;
	margin: 5px;
	transition: all 1s;

}
/*for login.html*/
.flexbox1:hover{
	transform: scale(1.1);
}

